
@media (min-width: 768px) {
    .main-about {
        margin-left: 220px; 
        width: calc(100% - 220px);
        padding: 2rem;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-area {
        /* margin-left: 9rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        width: 900px;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
    .hero-area-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* box-sizing: border-box;
        padding-left: 9rem;
        padding-right: 9rem; */
        color: #4185aa;
      /* text-align: center; */
    }

    .hero-area-container2 {
        display: flex;
        justify-content: flex-start;
    }

    .hero-area img {
        padding-left: 1rem;
    }


    .hero-area-button {
        text-align: start;
        margin-top: 1.5rem;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10rem;
        padding-right: 10rem;
        /* padding-top: 2rem;
        margin-left: 9rem; */
    }
    
    .about-section-container {
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .services-section {
        padding-left: 10rem;
        padding-right: 10rem;
        width: 900px;
    }

    .services-container {
        display: flex;
        /* justify-content: flex-start; */
        flex-wrap: wrap;
        gap: 1rem;

    }
    
}  

