@media (min-width: 750px) {
    .main-gallery {
        margin-left: 200px; 
        width: calc(100% - 200px);
        /* box-sizing: border-box;
        padding: 2rem; */
        padding: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gallery-section {
        /* margin-left: 9rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* width: 900px; */
        padding-left: 10rem;
        padding-right: 5rem;
    }

    /* grid style */

    #grid {
        width: 100%;
        margin: 50px auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-auto-rows: 200px;

        grid-template-areas: 
        
        "image_1 image_1 space_1 image_2"
        "image_1 image_1 space_1 image_4"
        "space_2 image_3 image_3 image_4"
        "image_5 image_3 image_3 space_3"
        "space_4 space_4 image_6 image_6"
        "image_7 image_8 image_6 image_6"
        "image_7 space_5 image_10 image_10"
        "image_9 image_9 space_6 space_6"
        }

        article > img {
            max-width: 100%;
            object-fit: cover;
            align-self: stretch;
          }
    }  